<!DOCTYPE html>
<html>
<head>
	<title>Artfullshot</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	        
<link rel="stylesheet" type="text/css" href="./vendors/css/normalize.css">

<link rel="stylesheet" type="text/css" href="./vendors/css/Grid.css">

<link rel="stylesheet" type="text/css" href="./vendors/css/ionicons.min.css">

<link rel="stylesheet" type="text/css" href="./resources/exploreCss/style.css">

<link rel="stylesheet" type="text/css" href="./resources/css/queries.css">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet" type="text/css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<nav>
		
		<div class="row">
			<a href="/profile"><img src="./resources/css/images/logo1.png" alt="ArtullShot Logo" class="logo"></a>
			
			
		<ul class="main-nav">
		 
			<li> <a  href="#">Explore</a></li>
			<li> <a  href="#">Create</a></li>
			<li> <input class="search" type="text" placeholder= "Search.."></li>
			<li> <img src="./resources/css/images/mingcute_notification-fill.png" alt=""></li>
			<li> <a href="/logout"><img src="./resources/css/images/19-194813_logout-button-png.png" alt=""></a></li>
		</ul>
		</div>
		</nav>
		
		  
		</header>
		 
		 <main>
			<h2>stay inspired</h2>
		  <div>
			<img class="flex-box" src="resources/css/images/Rectangle 17.png" alt="">
		<img class="flex-box" src="resources/css/images/Rectangle 30.png" alt="">
		<img class="flex-box" src="resources/css/images/Rectangle 32.png" alt="">
		<img class="flex-box" src="resources/css/images/Rectangle 29.png" alt="">
		<img class="flex-box" src="resources/css/images/Rectangle 31.png" alt="">
		<img class="flex-box" src="resources/css/images/Rectangle 33.png" alt="">
			
		  </div>
		
		 </main>
</body>
</html>