<!DOCTYPE html>
<html>
<head>
	<title>Artfullshot</title>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<link rel="stylesheet" type="text/css" href="vendors/css/normalize.css">

	<link rel="stylesheet" type="text/css" href="vendors/css/Grid.css">
	
	<link rel="stylesheet" type="text/css" href="./resources/signupCss/style.css">
	
	<link rel="stylesheet" type="text/css" href="resources/css/queries.css">
	
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet" type="text/css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&display=swap" rel="stylesheet">
	

	<script type="text/javascript">
		$(document).ready(function(){

			$( "#form1" ).submit(function(event) {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/',
					data: $('#form1').serialize(),
					dataType: "json",
					success: function(response){
						//alert("a");
						//console.log(response.Success);
						$('#form1')[0].reset();

						document.getElementById("check").innerHTML=response.Success;
         					//ADD THIS CODE
         					setTimeout(function(){
         						document.getElementById("check").innerHTML="";
         					},3000);
         					if (response.Success=="You are regestered,You can login now.") {
         						document.getElementById("aa").click();
         					};
         				},
         				error: function() {
         				}
         			})
			});
		});
	</script>
</head>
<body>

	<div class="col-md-4 col-md-offset-4">
		<div class="form-group">
			<form id="form1" method="post">
				<!-- <input type="email" name="email" placeholder="E-mail" required="" class="form-control"><br/>
				<input type="text" name="username" placeholder="Username" required="" class="form-control"><br/>
				<input type="password" name="password" placeholder="Password" required="" class="form-control"><br/>
				<input type="password" name="passwordConf" placeholder="Confirm Password" required="" class="form-control"><br/>
				<input type="submit" value="Register" class="btn btn-success"> -->






				<div class="container">
					<p>Sign in to</p>
					<a href="/forgetpass"> <img src="resources/css/images/logo1.png" alt="ArtullShot"></a>
				   
					<div class="input-group">
						<input type="text" name="username" placeholder="username" required id="username">
					</div>
					<div class="input-group">
						<input type="email" name="email" placeholder="E-mail" required id="email">
					</div>
					
				   <div class="input-group">
					<input type="password" name="password" placeholder="Password">
				   </div>
				   <div class="input-group">
					<input type="password" name="passwordConf" placeholder="Confirm Password" required>
				   </div>
				   <button type="submit" class="btn">Sign up</button>
				</div>
				<p>Already Registered! <a href="/login">Login</a></p>
			</form>
		</div>
		
		<div class="mssg bg-danger">
			<span id="check"></span>
		</div>
		<div>
			
		</div>
		<div id="LangTable"><a href="/login" id="aa"></a>
		</div>
	</div>
</body>
</html>