<!DOCTYPE html>
<html>
<head>
	<title>Artfullshot</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	

	<link rel="stylesheet" type="text/css" href="./vendors/css/normalize.css">

<link rel="stylesheet" type="text/css" href="./vendors/css/Grid.css">

<link rel="stylesheet" type="text/css" href="./resources/css/style.css">

<link rel="stylesheet" type="text/css" href="./resources/css/queries.css">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet" type="text/css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&display=swap" rel="stylesheet">

	<script type="text/javascript">
		$(document).ready(function(){

			$( "#form2" ).submit(function(event) {

				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/forgetpass',
					data: $('#form2').serialize(),
					dataType: "json",
					success: function(response){
						//alert("a");
						//console.log(response.Success);
						$('#form2')[0].reset();
						//alert("abc");
						document.getElementById("check").innerHTML=response.Success;

						setTimeout(function(){
							document.getElementById("check").innerHTML="";
						},3000);
						if (response.Success=="Password changed!") {
							document.getElementById("aa").click();
						};
					},
					error: function() {
					}
				})
			});

		});
	</script>
</head>
<body>

		
		<header>
			<nav>
			
			<div class="row">
				<a href="/"><img src="resources/css/images/Logo@2x.png" alt="ArtullShot Logo" class="logo"></a>
				
			
			<ul class="main-nav">
			 
				<li>  <a href="/">Home</a></li>

				<li> <a href="/profile">Explore</a></li>
				<li> <a href="#">License</a></li>
				<li> <a href="login">Login</a></li>
				<li> <button><a href="/signup">Join</a></button></li>
			</ul>
			</div>
			
			<ul class="primary-navigation">
				<li><a href="#"><img class="logo2" src="resources/css/images/hamburger_button_menu_icon_155296.png" alt=""> </a>
				  <ul class="dropdown">
					<li><a href="login">Login</a></li>
					<li><a href="/signup">Join</a></li>
				  </ul>
				</li>
			  </ul>
			</nav>
			
				  <div class="hero-text-box">
			<h1>Get every Image</h1>
			<h2>with just a click</h2>
			<a class="btn btn-ghost" href="/login">Explore our library </a>
					</div>
			</header>
			 
</body>
</html>