/*----------------------------------------------------------------------------------------------------------*/
/*BASIC SETUP*/
/*----------------------------------------------------------------------------------------------------------*/


* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: lato,arial,sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}



/*---------------------------------------------------------------------------------------------------------*/
/*REUSEDABLE COMPONENTS */
/*----------------------------------------------------------------------------------------------------------*/


.row {
    max-width: 1140px;
    margin: 0 auto;
}

 .box {
    padding: 1%;
}

/*-----HEADINGS------------*/


h1,h2,h3 {
  

font-weight: 200;



}
h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 200%;
    word-spacing: 4px;
    letter-spacing: 1px;

}
h2 {
    font-size: 120%;
    word-spacing: 2px;
    color: #ffffff7c;
    font-family: 'Dancing Script', cursive;
    font-weight: 400;


}


/*--------------paragraphs----------------------*/
/* so let's  specify a nice  1st paragraph style */
.long-copy {

line-height:145%;
width: 70%;
margin-left: 15%;
margin-bottom: 30px;
}
.box p {
    font-size: 90%;
    line-height: 145%;
}


/*----links------*/
a:visited {
    color:#e67e22;
    text-decoration: none;
    /* now instead of the these underline i actually want an underline bcs that's what users are used to when they see a link*/
    border-bottom: 1px solid #e67e22;
    padding-bottom: 1px;
    transition: border-bottom 0.2s, color 0.2s;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    -moz-transition: border-bottom 0.2s, color 0.2s;
    -ms-transition: border-bottom 0.2s, color 0.2s;
    -o-transition: border-bottom 0.2s, color 0.2s;
}
a:hover,
a:active {
 color: #555;
 border-bottom: 1px solid transparent;
}



/*----------BUTTONS-----------*/

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    /*we 10px on top and bottom and 30px on left and right*/
    padding: 10px 30px;
    font-weight: 300;
    /*we have text underline and we need to get rid of it */
    text-decoration: none;
    border: 1px solid #fff ;
    color: #fff ;
    border-radius: 10px;
 
}
    

 
.btn-ghost:link,s
.btn-ghost:visited {
  margin-top: 80px;
  font-weight: 400;
  font-size: 80%;
  background-color: #8686862d;
}
button {
    background-color: #8686866e;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px transparent ;
}

/*---------------------------------------------------------------------------------------------------------*/
/*HEADER */
/*----------------------------------------------------------------------------------------------------------*/

header {
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(images/artfullshots4.png);
    /*this means that it 100% of the viewpoint */
    height: 100vh;  
   
    background-size: cover;
    background-position: center;
 background-attachment: fixed;

    }


.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 60%;
    left: 50%;
    /*what this does is to translate the element half of it's width and of it's height,up and to the left*/

    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

    .logo {
        height: 75px;
        width: auto;
        float: left;
        /* background: black; */
       background: rgb(0, 0, 0, 0.1);
        color: white;
        
        margin-top: 30px;
     
    } 
  
    .main-nav {
        float: right;
        list-style:none ;
        margin-top: 55px;
    }
  
    .main-nav li {
        display: inline-block;
        margin-left: 40px;


    }
     /*this selects li element a element*/
     .main-nav li a:link,
     .main-nav li a:visited {
        padding: 8px 0;
        color: #FFF;
        text-decoration: none;
        font-size: 90%;
        border-bottom: 2px solid transparent;
        transition: border 0.2s;
        -webkit-transition: border 0.2s;
        -moz-transition: border 0.2s;
        -ms-transition: border 0.2s;
        -o-transition: border 0.2s;
}
     .main-nav li a:hover,
     .main-nav li a:active {


        border-bottom: 2px solid #e67e22;
     }
    
    

     @media screen and (max-width: 766px) {
       .main-nav li{
        display: none;
       }
      }
     @media screen and (min-width: 766px) {
       .logo2 {
        display: none;
       }
     .primary-navigation {
        display: none;
     }
      }

      @media screen and (max-width: 766px) {
        .primary-navigation{
            float: right;
            margin-right: 5px;
            margin-top: -180px;
            font-size: 16px;
            padding: 120px 0 0 0;
            text-align: center;
        }
      .logo2{
        height: 70px;
        width: 70px;
        margin-right: -20px;
       
        
      }
      .primary-navigation li {
        list-style: none;
        margin: 0 auto;
        display: inline-block;
        padding: 0 30px;
        position: relative;
        text-decoration: none;
        text-align: center;
      }
      .primary-navigation li ul {
        visibility: hidden;
      opacity: 0;
      position: absolute;
padding-left: 0;
      left: 0;
      display: none;
      background: white;
      }

      .primary-navigation li:hover > ul,
    .primary-navigation li ul:hover {
      visibility: visible;
      opacity: 1;
      display: block;
      min-width: 250px;
      padding-right: 10px;
      margin-right: 20px;
      background: linear-gradient(#464F3F, #1e201c);
      text-align: left;
      padding-top: 20px;
      box-shadow: 0px 0px 0px -1px #ccc;
    }
    .primary-navigation li ul li {
        clear: both;
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
        border-style: none;
      }
      .primary-navigation li ul li a:hover {
        padding-left: 10px;
        border-left: 2px solid #3ca0e7;
        transition: all 0.3s ease;
        color: #FFA91B;
      }
    .primary-navigation li ul li a {
        text-decoration: none;
        color: white;

       
    }
    .primary-navigation li ul li a {
        transition: all 0.5s ease;
    }
       }
 