/*-------------------------------------------------------------------------------------*/
/*orange color:#e67e22
/*-------------------------------------------------------------------------------------*/



/*----------------------------------------------------------------------------------------------------------*/
/*BASIC SETUP*/
/*----------------------------------------------------------------------------------------------------------*/


* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: lato,arial,sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}



/*---------------------------------------------------------------------------------------------------------*/
/*REUSEDABLE COMPONENTS */
/*----------------------------------------------------------------------------------------------------------*/


.row {
    max-width: 1140px;
    margin: 0 auto;
}

 .box {
    padding: 1%;
}

/*-----HEADINGS------------*/


h1,h2,h3 {
  

font-weight: 200;



}
h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 200%;
    word-spacing: 4px;
    letter-spacing: 1px;

}
h2 {
    font-size: 120%;
    word-spacing: 2px;
    color: #ffffff7c;
    font-family: 'Dancing Script', cursive;
    font-weight: 400;


}
h3 {
    font-size: 110%;
    margin-bottom: 15px;
}


/*--------------paragraphs----------------------*/
/* so let's  specify a nice  1st paragraph style */
.long-copy {

line-height:145%;
width: 70%;
margin-left: 15%;
margin-bottom: 30px;
}
.box p {
    font-size: 90%;
    line-height: 145%;
}
/* this way of showing of what you are going to style is inceredily importnant*/
/*-----------icons--------*/

/* this is an icon font so you can set it's font size */
.icon-big {
font-size: 350%;
/* this will force a line break*/
display: block;
color: #e67e22;
margin-bottom: 10px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;
    /*secrets to align text  and icons*/
    line-height:120% ;
    vertical-align: middle;
    /* - margin does ecactly the oppisite thing than a psitive margin so a positive margin gives us space and a negative margin is kind of ,takes space away and this will pull our icons to the top two pixels */
margin-top: -5px; ;

}
/*----links------*/
/* now we gona format all links at the same time and we gona use the a because that's the most generic links and we specify the link and the active state */
a:link,
a:visited {
    color:#e67e22;
    text-decoration: none;
    /* now instead of the these underline i actually want an underline bcs that's what users are used to when they see a link*/
    border-bottom: 1px solid #e67e22;
    padding-bottom: 1px;
    transition: border-bottom 0.2s, color 0.2s;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    -moz-transition: border-bottom 0.2s, color 0.2s;
    -ms-transition: border-bottom 0.2s, color 0.2s;
    -o-transition: border-bottom 0.2s, color 0.2s;
}
a:hover,
a:active {
 color: #555;
 border-bottom: 1px solid transparent;
}



/*----------BUTTONS-----------*/

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    /*we 10px on top and bottom and 30px on left and right*/
    padding: 10px 30px;
    font-weight: 300;
    /*we have text underline and we need to get rid of it */
    text-decoration: none;
    border: 1px solid #fff ;
    color: #fff ;
    border-radius: 10px;
 
}
    

 
.btn-ghost:link,s
.btn-ghost:visited {
  margin-top: 80px;
  font-weight: 400;
  font-size: 80%;
  background-color: #8686862d;
}
button {
    background-color: #8686866e;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px transparent ;
}

/*---------------------------------------------------------------------------------------------------------*/
/*HEADER */
/*----------------------------------------------------------------------------------------------------------*/

header {
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(images/artfullshots4.png);
    /*this means that it 100% of the viewpoint */
    height: 100vh;  
   
    background-size: cover;
    background-position: center;
 /*a very cool effect that we can achieve with background images in css and this is like our background image always stays in the same place and we scroll our website and the image stays always in the same place  */
 background-attachment: fixed;

    }


.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 60%;
    left: 50%;
    /*what this does is to translate the element half of it's width and of it's height,up and to the left*/

    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

    .logo {
        height: 75px;
        width: auto;
        float: left;
        /* background: black; */
       background: rgb(0, 0, 0, 0.1);
        color: white;
        
        margin-top: 30px;
     
    } 
    /*in order to format our an ordered list bcs this nav is an ordered list and we get rid of those bullet points*/ 
    .main-nav {
        float: right;
        list-style:none ;
        margin-top: 55px;
    }
    /*this is how we select all li element and we want to change the way there are displayed bcs there are block elements and we want them to be inline blocksso that they can be side by  side and we want some margin between them  */
    .main-nav li {
        display: inline-block;
        margin-left: 40px;


    }
     /*this selects li element a element*/
     .main-nav li a:link,
     .main-nav li a:visited {
        padding: 8px 0;
        color: #FFF;
        text-decoration: none;
        font-size: 90%;
        border-bottom: 2px solid transparent;
        transition: border 0.2s;
        -webkit-transition: border 0.2s;
        -moz-transition: border 0.2s;
        -ms-transition: border 0.2s;
        -o-transition: border 0.2s;
}
     .main-nav li a:hover,
     .main-nav li a:active {
/* in order this to happen we need this border to exist before we hover it but since we don't want to see it we make it transparent*/

        border-bottom: 2px solid #e67e22;
     }
    
    