body{
    background-image: linear-gradient(to bottom right, #464F3F, #8fa080);
    height: 100vh;  
   
    background-size: cover;
    background-position: center;
}
label {
    display: block;
}

form {
    display: flex;
   align-items: center;
   min-height: 100vh;
   margin-top: auto;
 justify-content: center;
 flex-direction: column;
}
.container {
    background-color: rgba(255, 255, 255, 0.877);
    padding: 50px;
    border-radius: 10px;
}
img {
    height: 52px;
    margin-left: 45px;
    margin-top: -20px;
}
.input-group {
    margin-bottom: 35px;
}

input {
   border-radius: 4.5px;
   padding-top: 10px;
   padding-bottom: 10px;
   border: 1px solid #a8a7a7;
}
.btn {
    padding: 10px 75px ;
    border-radius: 4.5px;
    border: 1px solid #a8a7a7;
    background-color: #00BFA6;
}
a {
    text-decoration: none;
    color: blue;
}